body{
    width: 100%;
    background-color:rgb(240, 223, 255);
    font-family: 'Times New Roman', Times, serif;
    background-repeat:no-repeat;
    }

    #aboutme2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: 100px 100px;
    }
    
    #me-picture1{
        width:600px;
        margin-top:5px;
        margin-left:30px;
    }
    #aboutme3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: 100px 100px;
    }
    #me-picture2{
        width:500px;
        margin-top:1px;
    }
    /*sns*/
    #sns{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 300px;

    }
    .sns-section{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: black;

    }
    #sns-picture{
        width: 700px;
        margin: 20px auto;

    }

    #sns-picture1{
        width:200px;
        float: left;
        margin-top: 100px;
    }
    #sns-picture2{
        width:200px;
        float: right;
        margin-left:5%;
        margin-top: 100px;

    }
    #sns-picture3{
        width:200px;
        float: right;
        margin-left:5%;
        margin-top: 100px;

    }
    #about-sns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top:400px;
        margin-bottom:20px;

    }
    
    #aboutsns-picture{
        width:400px;
        margin-top:2px;
        margin-left:290px;
        margin-top: 100px;

    }