body{
    width: 100%;
    background-color:rgb(250, 221, 239);
    font-family: 'Times New Roman', Times, serif;
    background-repeat:no-repeat;
    }

/*background*/
    #background{
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        margin-top:50px;
        margin-bottom:200px;
 
    }
    #background-image{
        width:590px;
        margin-top:103px;
    }
    #background-image2{
        width:595px;
        margin-top:103px;
        margin-left:70px;
    }

    /*navigation*/
    .navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top:100px;
    margin-bottom:200px;

    
    }
    
    li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 30px;
    }
    
    ul{
    margin:0;
    }
    
    .nav-menu{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
    
    a{
        color: black;
        text-decoration: none;
    }
    
    a:hover{
        color: white;
        transition: 0.3s;
    }

    /*music*/
    #music{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 300px;

    }
    .music-section{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: black;
        margin-bottom: 40px;
    }
    #music-picture{
        width: 700px;
        margin: 10px auto;
    }

    #music-picture1{
        width:200px;
        float: left;

    }
    #music-picture2{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #music-picture3{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #about-music{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top:300px;
        margin-bottom:300px;

    }
    
    #aboutmusic-picture{
        width:300px;
        margin-top:2px;
        margin-left:10px;

    }
    /*food*/
    #food{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 300px;

    }
    .food-section{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: black;
        margin-bottom: 40px;
    }
    #food-picture{
        width: 700px;
        margin: 20px auto;
    }

    #food-picture1{
        width:200px;
        float: left;

    }
    #food-picture2{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #food-picture3{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #about-food{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top:400px;
        margin-bottom:20px;

    }
    
    #aboutfood-picture{
        width:400px;
        margin-top:2px;
        margin-left:10px;

    }
    /*sns*/
    #sns{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 300px;

    }
    .sns-section{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: black;

    }
    #sns-picture{
        width: 700px;
        margin: 20px auto;
    }

    #sns-picture1{
        width:200px;
        float: left;

    }
    #sns-picture2{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #sns-picture3{
        width:200px;
        float: right;
        margin-left:5%;

    }
    #about-sns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top:400px;
        margin-bottom:20px;

    }
    
    #aboutsns-picture{
        width:400px;
        margin-top:2px;
        margin-left:10px;

    }